*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    
}
h1{
    font-size: 3rem;
    font-weight: 400;


}
.img1{
    background-image: url(./img/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.75;
    
}
.img1 div {
   background-color: black;
    color: white;
    border: none;
    outline-offset: 1rem;
    outline: outset .5rem purple;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;

}
.sec1{
    background-color: #F1F1F1;
    color: rgba(0, 0, 0, 0.589);
    font-size: 1.2rem;
    /* font-weight: 800; */
    /* align-items: justify; */
    padding: 3rem 7rem;
    /* letter-spacing: 1.5px; */
    word-spacing: 3px;
    line-height: 1.5rem;
}
.sec1 h2{
    margin-bottom: 1rem;

}

/* ------------------- */

.img2{
    
    background-image: url(./img/bg2.jpg);
    background-attachment: fixed;
     height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;

}
.img2 img{
     color: white;
    border: none;
    outline-offset: 1rem;
    outline: outset .5rem purple;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    height: 20vh;
}


.sec2{
     background-color: #282e34;
    color: white;
    font-size: 1.2rem;
    /* font-weight: 800; */
    /* align-items: justify; */
    padding: 3rem 7rem;
    /* letter-spacing: 1.5px; */
    word-spacing: 3px;
    line-height: 1.5rem;
}
.sec2 h2{
    margin-bottom: 1rem;

}



/* -------------- */



.img3{
    background-image: url(./img/bg3.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.75;
    
}
.img3 div {
   background-color: black;
    color: white;
    border: none;
    outline-offset: 1rem;
    outline: outset .5rem purple;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;

}
.sec3{
    background-color: #F1F1F1;
    color: rgba(0, 0, 0, 0.589);
    font-size: 1.2rem;
    /* font-weight: 800; */
    /* align-items: justify; */
    padding: 3rem 7rem;
    /* letter-spacing: 1.5px; */
    word-spacing: 3px;
    line-height: 1.5rem;
}
.sec3 h2{
    margin-bottom: 1rem;

}




/* -------------- */

.img4{
    background-image: url(./img/bg4.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.75;
    
}
.img4 div {
   background-color: black;
    color: white;
    border: none;
    outline-offset: 1rem;
    outline: outset .5rem purple;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;

}
.sec4{
    background-color: #282e34;
    color: white;
    font-size: 1.2rem;
    /* font-weight: 800; */
    /* align-items: justify; */
    padding: 3rem 7rem;
    /* letter-spacing: 1.5px; */
    word-spacing: 3px;
    line-height: 1.5rem;
}
.sec4 h2{
    margin-bottom: 1rem;

}


/* -------------------- */


.img5{
    background-image: url(./img/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    opacity: 0.75;
    
}
.img5 div {
   background-color: black;
    color: white;
    border: none;
    outline-offset: 1rem;
    outline: outset .5rem purple;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;

}
/* ------------------- */
@media (max-width:860px) {
    .img-content {
        width: fit-content;
    }
    h1 {
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: .3rem ;
    }
    
}
@media (max-width:650px) {
    .img-content {
        width: fit-content;
    }
    h1 {
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: .3rem ;
    }
    
}

@media (max-width:430px) {
    .img-content {
        width: fit-content;
    }
    h1 {
        font-weight: 400;
        font-size: .7rem;
        letter-spacing: 0rem ;
    }
    
}
